html, body {
    margin: 0 ;
    padding: 1rem;
    user-select: none;
    background: #1B1924;

   
}
img{
    display: flex;
    height: 10rem;
    width: 10rem;
    margin: 3rem auto 2rem;
}

 p,
 h1,
 .endorsement-text{
     color:#ffffff;
     text-align: center;
 }
 h1{
     font-size: 2em;
     margin: 0 0 0.5rem;
 }

 .container,
 textarea{
     display: flex;
     flex-direction: column;
     margin: 0 auto;
 }
 
 textarea{
     height: 20vh;
     width: 550px;
     background: #444059;
     resize: none;
     border: none;
     border-radius: 1rem;
     padding: 1rem;
     color:#ffffff;

 }

textarea:focus,
textarea:active{
        outline: none;
        border: 1px solid #707184;

}
 .p-btn{
     display:flex;
 }

button{
    padding: 1rem;
    margin: 1rem auto;
     cursor: pointer;
     background: #6495ED;
     border: none;
     border-radius: 0.5rem;
}

 button:hover{
     background: #87a9f5;
 }
 
 .endorsement-text{
     font-size: 1.8em;
     margin:1rem 0 2rem 0;
 }
 
 .endorsements{
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     color:#ffffff;

 }
 
  p{
     text-align: left;
    color:#1B1924;
     display: flex;
     margin: 1rem auto;
     width: 25%;
     background: #ffffff;
    padding: 1rem;

 }
@media only screen and (max-width: 600px) {
 
 img{
    margin: 3rem auto 1.5rem;
    height: 6.25rem;
    width:6.25rem;
 }

 
 .endorsement-text{
     font-size: 1.3em;
 }
 
 h1{
     font-size: 1.6em;
     margin-top: 0;
 }
 

 
 textarea{
     border-radius: 0.5rem;
     width: 75%;
     margin-bottom: 1rem;
     padding: 0.5rem;
 }
 
 


button{  
     width: 77%;
     height: 3rem;
     color:#04131C;
     border: none;
     border-radius: 0.5rem;
     text-align: center;
     padding: 0;
 }
 
 
 p{
     text-align: left;
    color:#1B1924;
     display: flex;
     margin: 1rem auto;
     width: 70%;
     background: #ffffff;
    padding: 1rem;

 }
}